<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IndividuDAL.Properties.Settings.projetConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=Projetcar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>